        :root {
            --dgBG:  #edf5fde5 !important;
            --dgColor: black;
        }

        /*-----------------------------*/
        .dx-datagrid-headers {
            color: var(--dgColor) !important;
            background-color: var(--dgBG) !important;
        }

        .dx-datagrid-borders>.dx-datagrid-total-footer {
            border-top: 4px solid var(--dgBG);
            border-bottom: 4px solid var(--dgBG);
        }

        .dx-datagrid-borders>.dx-datagrid-headers {
            border-top: 4px solid var(--dgBG);
            border-bottom: 4px solid var(--dgBG);
        }

        .dx-datagrid-table {
            border-left: 4px solid var(--dgBG);
            border-right: 4px solid var(--dgBG);
        }

        /*.dx-datagrid-total-footer {
            background-color: var(--dgBG) !important;
        } */
        .dx-datagrid-filter-panel {
            background-color: var(--dgBG) !important;
        }

        /*-----------------------------*/
        .dx-popup-wrapper>.dx-overlay-content {
            border-radius: 9px
        }

        .title-bg {
            background-color: rgba(191, 191, 191, 0.15);
        }

        .color-BBG {
            width: 1200px;
            background-color: white;
            color: black;
        }

        .second-group {
            background-color: rgba(191, 191, 191, 0.15);
        }

        #gridContainer .dx-scrollable-scroll {
            height: 180px !important;
        }

        .dx-scrollable-customizable-scrollbars ::-webkit-scrollbar:horizontal {
            height: 180px;
        }

        .dx-scrollable-customizable-scrollbars ::-webkit-scrollbar:vertical {
            width: 180px;
        }

        #popupContainerAdd .dx-popup-title {
            color: rgb(1, 6, 32);
            background-color: rgb(140, 252, 214)
        }

        #popupBenefitsView .dx-popup-title {
            color: rgb(1, 6, 32);
            background-color: rgb(229, 170, 252)
        }

        .H1Header {
            color: rgb(197, 179, 88);

        }

 