:root {
    --dgBG: #d2f2fce5;
    --dgColor: black;
    --dgSelBar: #d2f2fc4c;
    --dgSelText: blue;
    --stBgcolor: #F5F5F5;
}

/* General Styles */
#scversion {
    color: darkgreen;
    font-size: 12px;
}

/* DataGrid Styling */
.dx-datagrid-headers,
#gridContainer .dx-datagrid-headers,
#Add-dxDataGrid .dx-datagrid-headers,
#ACCChart-dxDataGrid .dx-datagrid-headers,
#detail-dxDataGrid .dx-datagrid-headers {
    color: var(--dgColor) !important;
    background-color: var(--dgBG) !important;
}

.dx-datagrid-filter-panel {
    background-color: var(--dgBG) !important;
}

.dx-datagrid-borders > .dx-datagrid-total-footer,
.dx-datagrid-borders > .dx-datagrid-headers,
.dx-datagrid-table {
    border: 4px solid var(--dgBG);
}

.dx-datagrid .dx-data-row .dx-datagrid-cell,
.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell {
    vertical-align: top;
}

.dx-datagrid .dx-selection {
    color: var(--dgSelText);
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed) > td {
    background-color: var(--dgSelBar);
    color: unset;
}

/* Popup & Dialog Styles */
.dx-popup-content,
#popupContainerAdd .dx-popup-content,
#Add-form .dx-popup-content,
#Add-form01 .dx-popup-content {
    background-color: var(--stBgcolor);
}

.dx-popup-title,
#popupHelp .dx-popup-title,
#popupContainerAdd .dx-popup-title,
#popupPrintPDF .dx-popup-title {
    color: rgb(1, 6, 32);
}

#popupHelp .dx-popup-title { background-color: rgb(136, 255, 205); }
#popupContainerAdd .dx-popup-title { background-color: rgb(243, 235, 255); }
#popupPrintPDF .dx-popup-title { background-color: black; color: whitesmoke; }

/* Form & Input Styles */
.dx-form .dx-field-item-label-text {
    color: black;
    font-weight: bold;
}

.dx-texteditor-input {
    height: 100%;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.right-align-number .dx-texteditor-input { text-align: right; }

.verylight-blue .dx-texteditor-input {
    background: linear-gradient(to bottom, #fcfcfc, #d6dff7);
}

/* Scrollable and Custom Scrollbars */
.dx-scrollable-customizable-scrollbars ::-webkit-scrollbar {
    height: 380px;
    width: 380px;
}

.dx-popup-fullscreen {
    overflow-y: scroll;
    height: 100%;
}

/* Custom Styling */
.title-bg, .second-group {
    background-color: rgba(191, 191, 191, 0.15);
}

.colorRED { color: #9e030b !important; }

.colorBGlightgrey, .colorRBGlightgrey {
    background-color: #f5f4f4 !important;
    border-radius: 15px;
}

.custom-group, .custom-group-header {
    color: blue;
    font-weight: bold;
    border: 1.5px solid blue;
    border-radius: 10px;
    padding: 10px;
}

.custom-group-header {
    background: linear-gradient(to bottom, white, #f5f5f5b4);
}

/* Tooltip Styling */
.dx-tooltip {
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
}
