

/*@import url('https://fonts.googleapis.com/css?family=Exo:400,700');*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
}
/*.context {
    display: none;
}
.area {
    display: none;
}*/
.context {
    width: 100%;
    position: absolute;
    top: 2vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area {
    /*
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    */
    background: black;
    /*#010103;*/
    /*background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    border-bottom: 0.01px solid rgb(102, 102, 102);*/
    width: 100%;
    height: 10vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 22px;
    /*80*/
    height: 22px;
    animation-delay: 28s;
    /*0*/
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 22s;
    /*2*/
    animation-duration: 12s;
    /*12*/
}

.circles li:nth-child(3) {
    left: 70%;
    width: 18px;
    /*20*/
    height: 18px;
    animation-delay: 14s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 16px;
    /*60*/
    height: 16px;
    animation-delay: 10s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 16px;
    height: 16px;
    animation-delay: 9s;
    /*0*/
}

.circles li:nth-child(6) {
    left: 75%;
    width: 8px;
    /*110*/
    height: 8px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 10px;
    /*150*/
    height: 10px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    /*25*/
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 13px;
    /*15*/
    height: 13px;
    animation-delay: 7s;
    /*2*/
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 15px;
    /*150*/
    height: 15px;
    animation-delay: 25s;
    /*0*/
    animation-duration: 20s;
    /*11*/
}

.circles li:nth-child(11) {
    left: 95%;
    width: 11px;
    /*150*/
    height: 11px;
    animation-delay: 15s;
    /*0*/
    animation-duration: 25s;
    /*11*/
}

.circles li:nth-child(12) {
    left: 4%;
    width: 13px;
    /*150*/
    height: 13px;
    animation-delay: 25s;
    /*0*/
    animation-duration: 25s;
    /*11*/
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 50%;
        /*0*/
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
        /*50%*/
    }

}
@media (max-width: 768px) {
    #version {
      right: 5px; /* Adjust the right margin for smaller screens */
    }
  }
/*----------------------------------------------------*/

#list,
.demo-container {
    height: 100%;
}

#aButton,
.demo-container {
    height: 100%;
}

body {
    margin: 0;
    /*background-image: url("./images/xmas01.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

#tophead {
    /*dposition: fixed;*/
    width: 100%;
    top: 10;
    left: 0;
}

.dx-popup-title {
    color: rgb(255, 238, 241);
    background-color: orangered;
    height: 40px;
}

.dx-toolbar-label>div {
    margin-top: 15px;
    margin-left: -10px;
}

.container {
    top: 0;
    left: 0;
    width: 100%
}

.border-bottom {
    box-shadow: inset 0 -3px 0 0 rgb(190, 189, 189);
}

#aTitle {
    color: rgb(185, 185, 185);
    /*rgb(102, 43, 0);*/
    font-weight: blod;
    /*font-size:12px;*/
    /*900;*/
}

#workinglabel {
    color: white;
}

.dx-toolbar-before {
    left: 10px;
    top: -15px;
}

.dx-toolbar-after {
    margin-top: -8px;
    margin-right: 45px;
}

.toolsmenu {
    color: lightgrey;
}

.toolsmenu .dx-menu-item {
    color: whitesmoke;
    background-color: black;
    /*rgb(91, 103, 112);*/
    /*border-color: black;*/
    /*rgb(1, 1, 75);  rgb(91, 103, 112) rgb(0, 46, 83);*/
    /*background: yellow;  */
}

#toolbar {
    /*background-color:   rgb(0, 46, 83,0.94);/*rgba(191, 191, 191, 0.65); /*rgb(238,232,170, .65);
    background-image: linear-gradient(to right, rgb(0, 46, 83, 0.35) 1%, rgb(0, 46, 83, 0.95) 35%, rgb(0, 46, 83, 0.95) 80%, rgb(0, 46, 83, 0.2) 100%);*/
    /*background-image: url("./images/flower-5.png");*/
    background-color: black;
    /* rgb(165, 173, 182); rgb(91, 103, 112);
    /*rgb(0, 174, 239);*/
    /*rgb(0, 46, 83);*/
    /*rgba(2, 33, 73, 0.822);*/
    border-top: 0.001px solid rgba(102, 102, 102, 0.623);
    font-size: 16px;
    width: 100%;
    height: 3em;
    padding: 10px 10px;
    /*box-shadow: inset 0 -1px 0 0 rgba(190, 189, 189, 0.145);
    height: 50px;
    text-align: center;
    box-shadow: 0 8px 6px -7px rgba(29, 29, 29, 0.904);
    -moz-box-shadow: 0px 5px 4px #888;
    -webkit-box-shadow: 0px 5px 4px #888;
    box-shadow: 0px 5px 4px #888;*/
    box-shadow: 0px 2.8px 4px #888;
    /*rgba(0, 0, 0, .15);*/
}

.xmenu .dx-button-content .dx-icon {
    font-size: 16px;
    color: white;
}

/*
.toolsmenu {
    /*padding-top: 9px;  
    font-weight: bold; 
    font-size: 10px;
}

.toolsmenu .dx-menu-item {
    color: whitesmoke;
    background-color: black;
    /*rgb(91, 103, 112);*/
/*border-color: black;*/
/*rgb(1, 1, 75);  rgb(91, 103, 112) rgb(0, 46, 83);*/
/*background: yellow;  
}
*/
.buttonONE .dx-button.dx-button-normal.dx-button-mode-contained.dx-widget.dx-button-has-icon.dx-button-has-text {
    background-color: #c2de50;
    border-color: #ea5b5b;
}

.warning {
    background-color: yellow;
}

.dx-button-text {
    color: red;
}

.dx-button {
    background-color: rgba(247, 247, 247, 0.15);
    font-size: 12px;
    border: 1px;
}

.dx-toolbar-button>.dx-toolbar-item-content {
    margin-left: 0px;
}

.dx-icon {
    font-size: 100%;
    /*.dx-theme-accent-as-text-color*/
}

.dx-treeview {
    font-size: 16px;
}

/*treeview left icon setup to blank*/
.dx-treeview .dx-treeview-toggle-item-visibility:before {
    content: "";
    /*"\f00e";*/
}

.dx-treeview .dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened:before {
    content: "";
    /*"\f015";*/
}

.left-content {
    display: inline-block;
    width: 250px;
    padding: 0 0px 20px 0px;
    /* 0 10 10 top right bottom left*/
    color: rgb(145, 70, 17);
    /*margin-left: -8px;
    /*rgb(153,101,21); rgba(228, 228, 228, 0.15)*/
    background-color: rgba(228, 228, 228, 0.15);
    /*rgba(252, 252, 252, 0.753)*/
    /*rgba(252, 252, 252, 0.95);*/
    /*rgb(238,232,170, .95);*/
    box-shadow: -5px 0px 14px -8px rgba(168, 168, 168, 0.25) inset;
}

.logostyle {
    display: block;
    /*inline-block;*/
    margin-left: auto;
    /*54px;*/
    margin-right: auto;
    padding-top: 0px;
    /*18*/
    width: 140px;
}
.logo-disappear { display: none; /* Initially hide the image */}
.logo-container {  
    position: absolute; 
    top: 6px; /* Adjust the top value to control the overlap */ 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; /* Ensure the logo is above other elements */
}
.logo-containerxx { 
    position: absolute; top: -20px; /* Adjust the top value to control the overlap */ 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; /* Ensure the logo is above other elements */ 
    background-image: url('./images/locktonlogo70mmwhite.png'); 
    background-size: 20%; /* Adjust the size as needed */
     background-repeat: no-repeat; 
     background-position: center; 
     width: 100%; /* Adjust the width as needed */
     height: 100px; /* Adjust the height as needed */
 }
.logo-toolbar {
    display: block;
    /*inline-block;*/
    margin-left: auto;
    /*54px;*/
    margin-right: auto;
    padding-top: 0px;
    /*18*/
    width: 82px;
}
.logo-toolbar11 { 
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    padding-top: -2px;
    width: 80px;; 
}
.logobarblack {
    background-color: black;
    /* For browsers that do not support gradients
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15) 5%, rgba(146, 146, 146, 0.8) 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.0) inset; */
    width: 100%;
}

.logobarwhite {
    /*background-image: url(".\images\flower-2.png"); */
    background-color: white;
    /* For browsers that do not support gradients 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15) 5%, rgba(146, 146, 146, 0.8) 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25) inset;*/
    width: 100%;
}

.headtitleleft {
    color: black;
    font-size: 12px;
    margin-left: 20px;
}

.flower1 {
    display: inline-block;
    margin: -30px 60px 30px 20px;
    color: black;
    font-size: 16px;
    width: 30%;
}

.flower1 .tright {
    float: right;
}

.flower1 .tleft {
    float: left;
}

.title {
    margin-right: 140px;
    background-color: black;
    color: black;
    font-size: 16px;
}

.tright {
    float: right;
    margin-top: -15px;
}

.title .tright {
    float: right;
}

.title .tleft {
    float: left;

}

.form-avatar {
    height: 23px;
    width: 23px;
    margin-right: 10px;
    border: 1px solid #d2d3d5;
    border-radius: 50%;
    /*background-image: url('images/user.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar {
    vertical-align: middle;
    padding: 3px;
    position: relative;
    top: -15px;
    height: 30px;
    width: 30px;
    margin-right: 3px;
    /*border: 1px solid ;#808080
        #d2d3d5
        rgba(76, 175, 80, 0.3);
        rgba(192,192,192,0.3)
    */
    border: 2px solid #808080;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

#aUsrName {
    color: rgb(211, 211, 211);
    /*rgb(102, 43, 0);*/
    font-size: 14px;
    font-weight: 900;
    margin-right: 80px;
    margin-top: -8px;
    /*900;*/
}

/*TreeView*/
.dx-treeview-select-all-item,
.dx-item-content.dx-treeview-item-content {
    font-size: 14px !important;
}

/*ListBox*/
.dx-list-select-all,
.dx-item-content.dx-list-item-content {
    font-size: 14px !important;
}

#popupSelect .dx-popup-title {
    color: rgb(1, 6, 32);
    background-color: rgb(145, 253, 226)
}

span.bb {
    display: inline-block;
    /*width: 75px;
    height: 20px;
    object-fit: cover; scale-down; /*cover;*/
    /*height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; */
}

#clip {
    position: absolute;
    clip: rect(0, 700px, 100px, 0px);
    filter: contrast(3);
    filter: brightness(0.2);
    /*transform: rotate(10deg);*/
    /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}

.hero-image {
    /* background-image: url("./images/banner-magnolias.jpg");
    /*background-color: #cccccc;
    height: 500px;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.flower-image {
    background-image: url("./images/flower-5.png");
    /*background-color: #cccccc;
        size: 5%;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.scrollbar-container {
    overflow-y: scroll;
    height: 2000px;
}

.dx-popup-wrapper>.dx-overlay-content {
    border-radius: 9px
}


